input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid steelblue;
    -webkit-box-shadow: 0 1px 0 0 steelblue;
    box-shadow: 0 1px 0 0 steelblue;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: steelblue;
}